@media (max-width: 426px) {
    .hero-content-left h1{
        font-size: 20px;
        
    }
    .hero-content-left p{
        font-size: 13px;
    }
    .search-btn{
        font-weight: 5%;
        font-size: 10px;
       
    }
  .input-group{
    width: 127%;
  }
  .domain-search-form{
  
  }
  }
  
  @media (max-width: 375px) {
    
  }
  
  @media (max-width: 320px) {
    
  }